{% load static %}
<!-- footer section -->
<section class="container-fluid footer_section ">
    <div class="tow">
        <div class="col-lg-7 col-md-9 mx-auto">
            <p>
                &copy; 2019 All Rights Reserved. Design by
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </div>
</section>
<!-- footer section -->
</div>

<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

<script>
    function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document
            .querySelector(".custom_menu-btn")
            .classList.toggle("menu_btn-style");
    }
</script>
</body>

</html>