{% extends 'base.html' %}
{% load static %}


{% block content %}

    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="Customcarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h2>
                      Best Education
                    </h2>
                    <h1>
                      For Your Kids
                    </h1>
                    <p>
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                    </p>
                    <a href="" class="btn-1">
                      Read More
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src= "{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h2>
                      Best Education
                    </h2>
                    <h1>
                      For Your Kids
                    </h1>
                    <p>
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                    </p>
                    <a href="" class="btn-1">
                      Read More
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h2>
                      Best Education
                    </h2>
                    <h1>
                      For Your Kids
                    </h1>
                    <p>
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                    </p>
                    <a href="" class="btn-1">
                      Read More
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#Customcarousel1" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#Customcarousel1" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </section>
    <!-- end slider section -->
  </div>



  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="heading_container">
          <h2>
            <span>About Our School</span>
          </h2>
        </div>
        <div class="img-box">
          <img src="{% static 'images/about-img.png' %}" alt="">
        </div>
        <div class="row">
          <div class="col-md-10 mx-auto">
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
            </p>
          </div>
        </div>
        <div class="btn-box">
          <a href= "{% url 'about' %}">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- teacher section -->
  <section class="teacher_section ">
    <div class="container">
      <div class="heading_container">
        <h2 class="">
          Our Teachers
        </h2>
      </div>
      <div class="teacher_container layout_padding2">
         <div class="row">
          
          {% for teacher in teachers %}
            <div class="col-md-3 col-sm-6">
              <div class="box">
                <div class="img-box">
                  <img class="" src="{{teacher.image.url}}" alt="Card image cap">
                </div>
                <div class="detail-box">
                  <p>
                    <h4>
                      {{teacher.name}}
                    </h4>
                    <h5>
                    </h5>
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
      <div class="btn-box">
        <a href="{% url 'teacher' %}">
          See More
        </a>
      </div>
    </div>
  </section>

  <!-- teacher section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What Students Says
        </h2>
      </div>
      <div id="carouselExample3Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="img_container">
                <div class="img-box">
                  <div class="img_box-inner">
                    <img src="{% static 'images/client.png' %}" alt="">
                  </div>
                </div>
              </div>
              <div class="detail-box">
                <h5>
                  Hingaroo
                </h5>
                <h6>
                  Student
                </h6>
                <p>
                  Nullam eros enim, ultricies ac nunc ac, semper feugiat ipsum. Proin nec justo dapibus, cursus tellus in, condimentum mauris.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="img_container">
                <div class="img-box">
                  <div class="img_box-inner">
                    <img src= "{% static 'images/client.png' %}" alt="">
                  </div>
                </div>
              </div>
              <div class="detail-box">
                <h5>
                  Hingaroo
                </h5>
                <h6>
                  Student
                </h6>
                <p>
                  Nullam eros enim, ultricies ac nunc ac, semper feugiat ipsum. Proin nec justo dapibus, cursus tellus in, condimentum mauris.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="img_container">
                <div class="img-box">
                  <div class="img_box-inner">
                    <img src="{% static 'images/client.png' %}" alt="">
                  </div>
                </div>
              </div>
              <div class="detail-box">
                <h5>
                  Hingaroo
                </h5>
                <h6>
                  Student
                </h6>
                <p>
                  Nullam eros enim, ultricies ac nunc ac, semper feugiat ipsum. Proin nec justo dapibus, cursus tellus in, condimentum mauris.
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample3Controls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample3Controls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </section>


  <!-- end client section -->

  <div class="footer_bg">

    <!-- contact section -->

    <section class="contact_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <div class="heading_container">
              <h2 class="">
                Get In Touch
              </h2>
            </div>
            <form action="{% url 'home' %}" method= "POST">
              {% csrf_token %}
            
              <div>
                {{form.name}}
              </div>
              <div>
                {{form.phone_number}}
              </div>
              <div>
                {{form.email}}
              </div>
              <div>
                {{form.message}}
              </div>
              <div class="d-flex  mt-4 ">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- end contact section -->

    <!-- info section -->

    <!-- end info_section -->

{% endblock %}