{% load static %}

  <div class="footer_bg">
    <section class="info_section layout_padding-top layout_padding2-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="info_links pl-lg-5">
              <h4 class="font-weight-bold">
                VISDOR
              </h4>
              <p>
                It is a long established fact that a reader will be distracted by the
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_contact">
              <h4>
                Location
              </h4>
              <div>
                <img src= "{% static 'images/location.png' %}" alt="" />
                <p>
                  104 loram ipusm
                </p>
              </div>
              <div>
                <img src="{% static 'images/telephone.png' %}" alt="" />
                <p>
                  ( +01 1234567890 )
                </p>
              </div>
              <div>
                <img src="{% static 'images/envelope.png' %}" alt="" />
                <p>
                  demo@gmail.com
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="info_social">
              <h4>
                Social Link
              </h4>
              <div class="social_container">
                <div>
                  <a href="">
                    <img src="{% static 'images/facebook-logo.png' %}" alt="" />
                  </a>
                </div>
                <div>
                  <a href="">
                    <img src="{% static 'images/twitter-logo.png' %}" alt="" />
                  </a>
                </div>
                <div>
                  <a href="">
                    <img src="{% static 'images/instagram.png' %}" alt="" />
                  </a>
                </div>
                <div>
                  <a href="">
                    <img src="{% static 'images/linkedin.png' %}" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_form">
              <h4>
                Newsletter
              </h4>
              <form action="">
                <input type="text" placeholder="Enter Your Email" />
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
