{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="footer_bg">

  <!-- teacher section -->
  <section class="teacher_section ">
    <div class="container">
      <div class="heading_container">
        <h2 class="">
          Our Teachers
        </h2>
      </div>
      <div class="teacher_container layout_padding2">
        <div class="row">
        {% for teacher in  teachers %}
          <div class="col-md-3 col-sm-6">
            <div class="box">
              
              {% if teacher.image.url %}
              <div class="img-box">
                <img class="" src="{{teacher.image.url}}" alt="Card image cap">
              </div>
              {% endif %}
                
             
              <div class="detail-box">
                <p>
                  <h5>
                    {{teacher.name}}
                  </h5>
                  <h5>
                    {{teacher.email}}
                  </h5>
                </p>
              </div>
            </div>
          </div>
        {% endfor %} 
        </div>
      </div>

    </div>
  </section>

  <!-- teacher section -->




    <!-- contact section -->

    <!-- end contact section -->
{% endblock content %}